.footnotes {
    border-top: 1px solid;
    padding-top: 1rem;
}

.footpara {
    display: inline;
}

mjx-container {
    display: inline-grid;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    scrollbar-width: none;
}
