/* syxntax highlighting */
/* both schemes were generated with htmlize-buffer */
/* light scheme uses the modus-operandi theme color scheme */
/* dark scheme uses the modus-vivendi theme color scheme */

@media (prefers-color-scheme: dark) {
    .org-builtin {
        /* font-lock-builtin-face */
        color: #f78fe7;
    }
    .org-comment {
        /* font-lock-comment-face */
        color: #a8a8a8;
    }
    .org-comment-delimiter {
        /* font-lock-comment-delimiter-face */
        color: #a8a8a8;
    }
    .org-constant {
        /* font-lock-constant-face */
        color: #00bcff;
    }
    .org-function-name {
        /* font-lock-function-name-face */
        color: #feacd0;
    }
    .org-keyword {
        /* font-lock-keyword-face */
        color: #b6a0ff;
    }
    .org-string {
        /* font-lock-string-face */
        color: #79a8ff;
    }
    .org-variable-name {
        /* font-lock-variable-name-face */
        color: #00d3d0;
    }
}
@media (prefers-color-scheme: light) {
    .org-builtin {
        /* font-lock-builtin-face */
        color: #8f0075;
    }
    .org-comment {
        /* font-lock-comment-face */
        color: #505050;
    }
    .org-comment-delimiter {
        /* font-lock-comment-delimiter-face */
        color: #505050;
    }
    .org-constant {
        /* font-lock-constant-face */
        color: #0000c0;
    }
    .org-function-name {
        /* font-lock-function-name-face */
        color: #721045;
    }
    .org-keyword {
        /* font-lock-keyword-face */
        color: #5317ac;
    }
    .org-string {
        /* font-lock-string-face */
        color: #2544bb;
    }
    .org-variable-name {
        /* font-lock-variable-name-face */
        color: #00538b;
    }
}
